* {
	box-sizing: border-box;
}

body {
	background: #A09EBB;
	color: black;
}

.container {
	background-color: #A09EBB;
	color: black;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
	unicode-bidi: isolate;
}

ul {
	list-style-type: disc;
}

.row {
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x)* .5);
    	padding-left: calc(var(--bs-gutter-x)* .5);
    	margin-top: var(--bs-gutter-y);
