* {
	box-sizing: border-box;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
	unicode-bidi: isolate;
}

ul {
	list-style-type: disc;
}

	
body {
	backround-color: #A09EBB;
	color: #A8AEC1;
}

.container { 
	background-color: #A09EBB;
}
